.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    justify-content: center;
    height: 4rem;
    align-items: center;
    margin-top: 8px;
}

.element{
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label{
    margin-right: 8px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    font-family: 'Fira Sans', sans-serif;
}

.select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right 10px center;
    background-repeat: no-repeat;
  }
  
  .select:focus {
    outline: none;
    border-color: rgb(104, 193, 228);
  }
  
  .selectOption {
    font-size: 16px;
    color: #333;
  }

.inputBar {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    box-sizing: border-box;
    margin-right: 8px;
  }
  
.inputBar:focus {
    outline: none;
    border-color: rgb(104, 193, 228);
  }

.inputButton{
    display: inline-block;
    padding: 4px 8px;
    background-color: rgb(104, 193, 228); 
    color: #fff; 
    border-radius: 12px; 
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;

}

.inputButton:hover{
    color: rgb(104, 193, 228); 
    background-color: #fff;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(104, 193, 228); 
    color: #fff; 
    border-radius: 12px; 
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
  }
.button:hover {
    color: rgb(104, 193, 228); 
    background-color: #fff; 
  }